

<ion-row class="ion-justify-content-between ion-align-items-center monthControls">
  <ion-col (click)="goToPreviousMonth()" >
    <ion-button fill="clear" shape="round">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="clear" shape="round">
      {{ currentDate.getMonth() + 1}} / {{ currentDate.getFullYear() }}
    </ion-button>
  </ion-col>
  <ion-col  (click)="goToNextMonth()">
    <ion-button fill="clear" shape="round">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
<ion-grid>
  <ion-row>
    <ion-col class="weekDays" *ngFor="let day of daysOfWeek">{{ day }}</ion-col>
  </ion-row>
  <ion-grid>
    <ion-row class="week" *ngFor="let week of calendar">

      <ion-col *ngFor="let day of week" [class.disabled]="day === null" class="day position-relative" (click)="selectDay(day)">

        {{ day ? day : '' }}

        <div class="point position-absolute top-0 start-0"></div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-grid>
