
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeXs="12" sizeSm="6" sizeMd="12" sizeLg="4" *ngFor="let card of cards">
        <ion-card routerLink="{{card.path}}">
          <ion-card-content>
            <ion-row class="ion-padding ion-align-items-center ">
              <ion-col sizeSm="12" sizeMd="4">
                <!-- <ion-card-title> -->
                  <ion-icon [name]="card.icon" class="mega-icon"></ion-icon>
                <!-- </ion-card-title> -->
              </ion-col>
              <ion-col sizeSm="12" sizeMd="8">
                <ion-label class="fw-bold ion-text-wrap"
                >{{card.title}}</ion-label>
                <!-- <ion-item lines="none"> -->
                  <div class="ion-padding ion-text-wrap">
                    <ion-card-subtitle>{{card.subtitle }}</ion-card-subtitle>
                  </div>
                <!-- </ion-item> -->
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
