<ion-grid *ngIf="!onlyList">
  <ion-row>
    <ion-col size="6">
      <h6 class="ms-3">Estatísticas:</h6>
      <ion-row></ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let card of memberDataCard" size-xs="12" size-md="6" size-lg="3" [size]="card.size">
      <ion-card class="member-data-card" [ngClass]="card.chartType ? 'chart-card' : ''">
        <ion-card-content>
          @if(!card.value && card.chartType){
          <ion-row>
            <ion-col>
              <ion-icon name="{{card.cardIconName}}"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-card-subtitle>{{card.title}}</ion-card-subtitle>
              <ion-card-subtitle>{{card.subtitle}}</ion-card-subtitle>
            </ion-col>

            <ion-col size="12">
              <ng-content *ngTemplateOutlet="cardChartTemplate; context: {$implicit: card}"></ng-content>
            </ion-col>
          </ion-row>
          }@else{
          <ion-row>
            <ion-col size="auto">
              <ion-icon name="{{card.cardIconName}}"></ion-icon>
              @if(card.chartType){
              <ng-content *ngTemplateOutlet="cardChartTemplate; context: {$implicit: card}"></ng-content>
              }
            </ion-col>
            <ion-col>
              <ion-card-subtitle>{{card.title}}</ion-card-subtitle>
              <ion-card-title>{{card.value}} <ion-chip *ngIf="card.tendency"
                  color="{{card.tendency === 'up'? 'success' : 'danger'}}">{{card.tendencyValue}}%</ion-chip>
              </ion-card-title>
              <ion-card-subtitle>{{card.subtitle}}</ion-card-subtitle>
            </ion-col>

          </ion-row>
          }
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <h6 class="ms-3 d-flex gap-2 ion-align-items-center">Membros: <ion-button size="small" fill="clear" shape="round"
          color="success  " [routerLink]="['/admin/membros/cadastro-usuario']">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </h6>
      <ion-row></ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-searchbar placeholder="Buscar por..." [(ngModel)]="searchText" (ionClear)="searchText = ''; filterMember({ detail: { value: 'input' }})" (ionInput)="filterMember({ detail: { value: 'input' }})"></ion-searchbar>
        </ion-col>

        <!-- <ion-col size="3" class="d-flex gap-2 ion-align-items-center ion-justify-content-around">
          <ion-card-subtitle for="orderMemberSelector" style="width: inherit !important;"
            class="d-flex gap-1 ion-text-center fw-light">
            <ion-icon name="swap-vertical-sharp" size="small"></ion-icon>
            <ion-label>Ordernar:</ion-label>
          </ion-card-subtitle>
          <ion-select name="orderMemberSelector" id="orderMemberSelector" interface="popover">
            <ion-select-option selected [value]="'dateExpiracao'">Data de Expiração</ion-select-option>
            <ion-select-option [value]="'idade'">Idade</ion-select-option>
            <ion-select-option [value]="'plano'">Plano</ion-select-option>
            <ion-select-option [value]="'status'">Status</ion-select-option>
            <ion-select-option [value]="'horario'">Horário</ion-select-option>
            <ion-select-option [value]="'ultimaAtividade'">Última Atividade</ion-select-option>
          </ion-select>
        </ion-col> -->
        <ion-col size="3" class="w-50 d-flex gap-2 ion-align-items-center ion-justify-content-around">
          <ion-card-subtitle for="filterMemberSelector" style="width: inherit !important;"
            class="d-flex gap-1 ion-text-center fw-light">
            <ion-icon name="funnel" size="small"></ion-icon>
            <ion-label>Filtrar:</ion-label>
          </ion-card-subtitle>
          <ion-select name="filterMemberSelector" id="filterMemberSelector" (ionChange)="filterMember($event)" interface="popover" value="todos">
            <ion-select-option [value]="'todos'" selected>Todos</ion-select-option>
            <ion-select-option [value]="'ativos'" >Ativos</ion-select-option>
            <ion-select-option [value]="'inadimplentes'">Inadimplentes</ion-select-option>
            <ion-select-option [value]="'inativo'">Inativos</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      @for(member of usuarioList ; track $index){
      <ion-row>
        <ion-col size="12">
          <ion-card class="position-relative">
            <ion-card-content>
              <ion-row class="d-flex ion-align-items-center w-100">
                <ion-col sizeMd="4" sizeXs="auto">
                  <ion-card-subtitle>
                    <div class="d-flex gap-3 ion-align-items-center">
                      <ion-avatar slot="start" class="me-2" size="small">
                        <img
                          [src]="member.genero === 'M' ? 'https://avatar.iran.liara.run/public/5': 'https://avatar.iran.liara.run/public/60'"
                          alt="">
                      </ion-avatar>

                      <div>
                        <ion-card-title>
                          {{member.nome}}
                        </ion-card-title>
                        <ion-label size="small">{{'member@email.com'}}</ion-label>
                      </div>
                    </div>
                  </ion-card-subtitle>
                </ion-col>
                <ion-col sizeMd="2" sizeXs="auto">
                  <sub>Data de Vencimento</sub>
                  <ion-card-subtitle>
                    {{member.data_vencimento }}
                  </ion-card-subtitle>
                </ion-col>

                <ion-col sizeMd="1" sizeXs="auto">
                  <sub>Plano</sub>
                  <ion-card-subtitle>
                    {{member.planos.descricao}}
                  </ion-card-subtitle>
                </ion-col>
                <ion-col sizeMd="1" sizeXs="auto" (click)="openCobrancaModal(member)">
                  <sub>Status:</sub>
                  <ion-chip [color]="!member.fl_ativo ? 'danger' : member.fl_adimplente  ? 'success' : 'warning'">
                    {{!member.fl_ativo ? 'Inativo' : member.fl_adimplente ? 'Em Dia' : 'Inadimplente'}}
                  </ion-chip>
                </ion-col>
                <ion-col sizeMd="2" sizeXs="auto">
                  <sub>Horario</sub>
                  <ion-card-subtitle>
                    {{member.horarios.hora_inicio.slice(0, 5) + ' - ' + member.horarios.hora_fim.slice(0, 5)}}
                  </ion-card-subtitle>
                </ion-col>
                <ion-col sizeMd="1" sizeXs="auto" offset-sm="2" class="position-absolute top-0 end-0">
                  <ion-button fill="clear" size="small" shape="round" color="dark"
                    [id]="member.id + '_memberOptionsBtn'" (click)="showNavigationOptions(member)">
                    <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      }
    </ion-grid>
  </ion-row>

</ion-grid>


<!-- <ng-template #optionPopover > -->
<ion-popover [isOpen]="isOpen" (didDismiss)="isOpen = false" reference="trigger"
  [trigger]="selectedUsuario?.id + '_memberOptionsBtn'">
  <ng-template>
    <ion-list [inset]="true">
      <!-- <ion-list-header class=" mt-1">
        Ações
      </ion-list-header>
      <hr> -->
      <ion-item [button]="true" lines="full" (click)="navigate('/admin/membros/cadastro-usuario', selectedUsuario)">
        <ion-icon aria-hidden="true" size="small" name="document-text-outline" slot="start"></ion-icon>
        <ion-text size="small">Det. do Membro</ion-text>
      </ion-item>
      <ion-item [button]="true" lines="full" (click)="navigate('/admin/membros/ficha-de-treino/', selectedUsuario)">
        <ion-icon aria-hidden="true" size="small" name="fitness" slot="start"></ion-icon>
        <ion-text size="small">Treinos</ion-text>
      </ion-item>
      <ion-item [button]="true" lines="full" (click)="openFormReciboModal(selectedUsuario)">
        <ion-icon aria-hidden="true" size="small" name="receipt" slot="start"></ion-icon>
        <ion-text size="small">Registrar Pagamento</ion-text>
      </ion-item>
      <ion-item [button]="true" lines="full" (click)="openHistoricoModal(selectedUsuario)">
        <ion-icon aria-hidden="true" size="small" name="cash" slot="start"></ion-icon>
        <ion-text size="small">Histórico de Pagamento</ion-text>
      </ion-item>
      <ion-item [button]="true" lines="full" (click)="showCobrancaModal = true">
        <ion-icon aria-hidden="true" size="small" name="logo-whatsapp" slot="start"></ion-icon>
        <ion-text size="small">Enviar Cobrança</ion-text>
      </ion-item>

      <ion-item [button]="true" lines="full" (click)="toggleAtivo(selectedUsuario)">
        <ion-icon aria-hidden="true" size="small" [name]=" selectedUsuario?.fl_ativo ? 'lock-closed' : 'lock-open'"
          slot="start"></ion-icon>
        <ion-text size="small">{{selectedUsuario?.fl_ativo ? 'Desativar' : 'Ativar'}}</ion-text>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-popover>
<!-- </ng-template> -->




<ng-template #cardChartTemplate let-card>

  @switch (card.chartType) {
  @case('pie') {
  <ngx-charts-pie-chart [view]="[!card.value ? 100 : 100, !card.value ? 100 : 100]" [results]="card.data"
    [gradient]="true"></ngx-charts-pie-chart>
  }
  @case('bar') {
  <ngx-charts-bar-vertical [view]="[!card.value ? 250 : 10, !card.value ? 90 : 10]" [results]="card.data"
    [noBarWhenZero]="true" [gradient]="true"></ngx-charts-bar-vertical>
  }
  @case('line') {
  <ngx-charts-line-chart [view]="[!card.value ? 100 : 100, !card.value ? 100 : 100]" [results]="card.data"
    [gradient]="true" [timeline]="true" [xAxis]="true" [showGridLines]="false"></ngx-charts-line-chart>
  }
  }

</ng-template>



<ion-modal [isOpen]="showCobrancaModal"
  (didDismiss)="showCobrancaModal = false; selectedUsuario = null; cobrancaForm.reset()"
  (ionModalWillPresent)="isOpen = false">
  <ng-template>
    <!-- TODO transformar em component -->

    <ion-header>
      <ion-toolbar>
        <ion-title>Enviar Cobrança</ion-title>
        <ion-buttons slot="end">
          <ion-icon name="close" (click)="showCobrancaModal = false; selectedUsuario = null"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="ion-padding">

      <form [formGroup]="cobrancaForm">
        <ion-row>
          <ion-col>
            <ion-input type="text" label="Nome" labelPlacement="floating" [value]="selectedUsuario?.nome"
              readonly="true" />
          </ion-col>
          <ion-col>
            <ion-input type="text" label="Nome" labelPlacement="floating" [value]="selectedUsuario?.whatsapp"
              readonly="true" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ng-content *ngTemplateOutlet="mesesSelector; context: {$implicit: cobrancaForm};"></ng-content>
            </ion-item>

          </ion-col>
          <ion-col>
            <ion-item>
              <ng-content *ngTemplateOutlet="anosSelector; context: {$implicit: cobrancaForm};"></ng-content>
            </ion-item>
          </ion-col>
        </ion-row>




      </form>

      <div class="ion-padding" id="message">

        <p>Olá, {{ selectedUsuario?.nome }}. Aqui é Ari, da <strong>Ari Fitness</strong>. Tudo bem?</p>

        <p>Ainda não foi identificado o pagamento da sua mensalidade do mês de <strong>{{ mes?.value }}</strong> de
          <strong>{{ ano?.value }}</strong>.
        </p>
        <p>Para informar o pagamento, favor enviar o comprovante de pagamento via WhatsApp. Caso ainda não tenha
          realizado o pagamento, segue os dados de transferência:</p>
        <p><strong>Chave Pix: </strong> {{'minha@chave.pix'}} </p>

        <p>Caso prefira utilizar o cartão de crédito, favor solicite um link de pagamento ou vá até a recepção. Será
          um prazer te atender!</p>
      </div>
    </div>




    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-button color="primary" fill="clear" shape="round" (click)="copyMessage()" [disabled]="!cobrancaForm.valid">
          <ion-icon slot="icon-only" name="copy"></ion-icon>
        </ion-button>
        <ion-button color="success" fill="clear" shape="round" (click)="sendMessage()" [disabled]="!cobrancaForm.valid">
          <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ng-template>
</ion-modal>



<ion-modal [isOpen]="showReciboModal" (didDismiss)="showReciboModal = false; selectedUsuario = null"
  (ionModalWillPresent)="isOpen = false">
  <ng-template>
    <ng-container *ngIf="recibo">

      <ion-header>
        <ion-toolbar>
          <ion-title>Recibo de Pagamento</ion-title>
          <ion-buttons slot="end" class="d-flex gap-2">
            <ion-icon class="me-2" (click)="downloadRecibo()" id="downloadHeaderBtn" name="download-outline"></ion-icon>
            <ion-icon name="close" (click)="showReciboModal  = false; recibo = null;"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>


      <!-- <ion-content class="ion-padding"> -->
      <div id="recibo-container" class="ion-padding">
        <ion-card-header>
          <ion-card-title>Recibo de Pagamento - {{recibo.mes}}/{{recibo.ano}}</ion-card-title>
          <ion-card-subtitle>Academia Ari Fitness Studio</ion-card-subtitle>
        </ion-card-header>

        <ion-grid>
          <form>
            <ion-row>
              <ion-col size="6">

                <p class="fw-bold mb-0" position="stacked">Nome do Aluno:</p>
                <ion-text> {{recibo.member.nome}}</ion-text>

              </ion-col>
              <ion-col size="6">


                <p class="fw-bold mb-0" position="stacked">Plano Contratado:</p>
                <ion-text> {{recibo.plano.descricao}}</ion-text>

              </ion-col>
              <ion-col size="6">


                <p class="fw-bold mb-0" position="stacked">Valor do Plano:</p>
                <ion-text> R$ {{recibo.plano.valor}}</ion-text>

              </ion-col>
              <ion-col size="6">


                <p class="fw-bold mb-0" position="stacked">Data de Pagamento:</p>
                <ion-text> {{recibo.dataPagamento | date: 'dd/MM/yyyy'}}</ion-text>


              </ion-col>
              <ion-col size="6">


                <p class="fw-bold mb-0" position="stacked">Desconto:</p>
                @if(recibo.desconto > 0){
                <ion-text>
                  <span>{{recibo.discountType === 'R$' ? recibo.discountType : ''}} {{recibo.desconto}}
                    {{recibo.discountType === '%' ? recibo.discountType : ''}}</span>
                </ion-text>
                }@else{
                <ion-text>
                  Nenhum desconto aplicado.
                </ion-text>
                }

              </ion-col>
              <ion-col size="6">


                <p class="fw-bold mb-0" position="stacked">Mês/Ano Referência:</p>
                <ion-text>{{recibo.mes}}/{{recibo.ano}} </ion-text>

              </ion-col>
              <ion-col size="6">


                <p class="fw-bold mb-0" position="stacked">Valor Final:</p>
                <ion-text>R$ {{recibo.valorPago}} </ion-text>

              </ion-col>

              <ion-col size="6">

                <p class="fw-bold mb-0" position="stacked">Forma de Pagamento:</p>
                <ion-text> {{recibo.formaPagamento | titlecase}}</ion-text>

              </ion-col>

              <ion-col size="12" class="mt-5 ion-text-center">

                <ion-text>_______________________________________________________________</ion-text><br>

              </ion-col>
              <ion-col size="12" class="ion-text-center">

                <ion-text>Ari Fitness Studio</ion-text>

              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
        <ion-row class="ion-padding ion-align-items-center ion-text-end">
          <sub>Cód: {{recibo.id}}</sub>
        </ion-row>
      </div>

      <ion-row class="ion-justify-content-center ion-margin-bottom ion-padding">
        <ion-button class="w-100 d-flex gap-2" color="primary" expand="block" shape="round" (click)="downloadRecibo()">
          Baixar
          <ion-icon class="ms-2" name="download-outline"></ion-icon>
        </ion-button>
      </ion-row>

      <!-- </ion-content> -->


    </ng-container>
  </ng-template>
</ion-modal>





<ion-modal [isOpen]="showHistoricoModal" (didDismiss)="showHistoricoModal = false; selectedUsuario = null"
  (ionModalWillPresent)="isOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Histórico de Pagamento</ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="showHistoricoModal = false">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ng-container *ngIf="selectedUsuario">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{selectedUsuario.nome}}</ion-card-title>
            <ion-card-subtitle>Cadastrado em: {{selectedUsuario.created_at | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
            <ion-card-subtitle>Plano: {{selectedUsuario.planos.descricao}}</ion-card-subtitle>
            <ion-card-subtitle>Data de Vencimento: {{selectedUsuario.data_vencimento }}</ion-card-subtitle>

          </ion-card-header>
        </ion-card>
        <ion-list [inset]="true">
          <p class="ion-padding d-flex gap-2 ion-align-items-center">
            <strong class="fw-bold w-75">Filtrar por Ano</strong>
            <ion-select interface="popover" placeholder="2025" (ionChange)="filterAno($event)">
              <ion-select-option *ngFor="let ano of anos" [value]="ano">
                {{ ano.value }}
              </ion-select-option>
            </ion-select>
          </p>
          <ion-row>
            <ion-col *ngIf="pagamentosLoading" size="12" class="text-center ion-padding">
              <ion-spinner name="crescent"></ion-spinner>

              <p class="mt-2">Carregando pagamentos...</p>
            </ion-col>

            <ion-col size="12" *ngIf="!pagamentosLoading && pagamentos.length === 0" class="text-center ion-padding">
              <p>Nenhum pagamento encontrado.</p>
            </ion-col>
          </ion-row>
          <ng-container *ngIf="!pagamentosLoading && pagamentos.length > 0">
          <ion-item *ngFor="let pagamento of pagamentos">
            <ion-label>
              <ion-row>
                <ion-col size="1" class="ion-text-end">
                  <ion-checkbox *ngIf="!pagamento.pago" [(ngModel)]="pagamento.checked"></ion-checkbox>
                </ion-col>
                <ion-col size="11">
                  <p>{{ pagamento.nome_mes.label }}/{{ pagamento.ano }}</p>
                  <h2>Pago em: {{ pagamento.transacao?.data_lancamento | date: 'dd/MM/yyyy' }}</h2>
                  <p>Valor: R$ {{ pagamento.transacao?.valor_final }}</p>
                  <p>Status:
                    <ion-chip color="{{ pagamento.pago ? 'success' : 'warning' }}">
                      {{ pagamento.pago ? 'Pago' : 'Nao Pago' }}
                    </ion-chip>
                  </p>

                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
          <ion-row class="ion-justify-content-center ion-align-items-center d-flex ion-padding">
            <ion-col size="6" class="ion-text-end">
              <ion-button color="warning" shape="round" (click)="registrarPagamentos('isentar')" >Isentar</ion-button>
            </ion-col>
            <ion-col size="6" class="ion-text-start">
              <ion-button color="primary" shape="round" (click)="registrarPagamentos('registrar')" >Registrar</ion-button>
            </ion-col>
          </ion-row>
          </ng-container>
        </ion-list>
      </ng-container>
    </ion-content>
  </ng-template>
</ion-modal>




<ng-template #mesesSelector let-form let-control="control">
  <div [formGroup]="form">
    <ion-select interface="popover" placeholder="Mês" [formControlName]="control || 'mes'">
      <ion-select-option *ngFor="let mes of meses" [value]="mes.value">{{mes.label}}</ion-select-option>
    </ion-select>
  </div>
</ng-template>
<ng-template #anosSelector let-form>
  <div [formGroup]="form">
    <ion-select interface="popover" placeholder="Ano" formControlName="ano">
      <ion-select-option *ngFor="let ano of anos" [value]="ano.value">{{ano.value}}</ion-select-option>
    </ion-select>
  </div>
</ng-template>
