@media print {
  body {
    -webkit-print-color-adjust: exact !important; /* Para Chrome e Safari */
    color-adjust: exact !important; /* Para Firefox */
    background-color: #fff !important;
    color: #000 !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    color: #000 !important;
  }

  ion-card {
    background-color: #fff !important;
  }

  ion-item {
    background-color: #fff !important;
    color: #000 !important;
  }

  ion-label {
    color: #000 !important;
  }

  ion-note {
    color: #000 !important;
  }
}