<ion-content [fullscreen]="true">


  <ion-grid class="board" id="board">
    <ion-col class="column position-relative" *ngFor="let column of cols">
      <div class="column-header d-flex justify-content-between align-items-center">
        {{column.title}}
        <span class="column-count gap-2 d-flex justify-content-around align-items-center"> {{column.tasks.length}}
          <ion-button fill="clear" shape="round" (click)="showTaskForm = true; createForm(column.status_tarefa_id)">
            <ion-icon name="add-circle-outline"  ></ion-icon>
          </ion-button>
        </span>
      </div>
      <div data-column="todo" class="task-list mb-5" [id]="'task-list_'+column.status_tarefa_id" dragula="tarefas"
        [(dragulaModel)]="column.tasks">
        <div *ngFor="let task of column.tasks">

          <ion-card class="mb-2" (click)="showTaskForm = true; createForm(column.status_tarefa_id, task)" [ngClass]="
            task.prioridade === 0 ? 'low-priority'
              : task.prioridade === 1 ? 'medium-priority'
                : 'high-priority'
          ">
            <ion-card-content>
              <ion-row>
                <ion-col size="11">
                  <ion-card-subtitle>
                    {{task.titulo}}
                  </ion-card-subtitle>
                </ion-col>
                <ion-col size="1">

                  <ion-icon [name]="
                      task.tipo_tarefa_id === 1 ? 'hammer-outline'
                        : task.tipo_tarefa_id === 2 ? 'cash-outline'
                          : task.tipo_tarefa_id === 3 ? 'alert-circle-outline'
                            : ''" size="medium">
                  </ion-icon>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      <div class="add-task position-absolute bottom-0 w-75 ms-0"
        (click)="showTaskForm = true; createForm(column.status_tarefa_id)">+ Adicionar tarefa</div>

    </ion-col>
  </ion-grid>

</ion-content>



<ion-modal [isOpen]="showTaskForm" (didDismiss)="showTaskForm = false; taskForm.reset()">


  <ng-template>
    <ion-content>
      <div class="task-form">
        <form class="ion-padding" [formGroup]="taskForm">


          <input type="text" class="task-input" formControlName="titulo" placeholder="Digite o título da tarefa...">
          <hr>
          <div class="d-flex gap-2">
            <ion-select interface="popover" labelPlacement="floating" label="Status" aria-label="Status"
              formControlName="status_tarefa_id">
              <ion-select-option [value]="1">A Fazer</ion-select-option>
              <ion-select-option [value]="2">Fazendo</ion-select-option>
              <ion-select-option [value]="3">Feito</ion-select-option>
            </ion-select>

            <ion-select interface="popover" labelPlacement="floating" label="Prioridade" aria-label="Prioridade"
              formControlName="prioridade">
              <ion-select-option [value]="0">Baixa</ion-select-option>
              <ion-select-option [value]="1">Média</ion-select-option>
              <ion-select-option [value]="2">Alta</ion-select-option>
            </ion-select>

            <ion-select interface="popover" labelPlacement="floating" label="Tipo" aria-label="Tipo de Tarefa"
              formControlName="tipo_tarefa_id">
              <ion-select-option *ngFor="let t of tiposTarefa" [value]="t.id">{{t.descricao}}</ion-select-option>
            </ion-select>
          </div>
          <div class="form-group">
            <ion-checkbox labelPlacement="end" #prazo  [checked]="f.value.data_limite_conclusao"  (ionChange)="prazoChange($event)" class="mb-2">
              <ion-label>Possui Prazo</ion-label>
            </ion-checkbox>
            <div class="d-flex">
              <ion-datetime-button class="ms-0" [disabled]="!prazo.checked" datetime="datetime"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime" presentation="date" formControlName="data_limite_conclusao"  [formatOptions]="{
                  date: {
                    weekday: 'short',
                    month: 'long',
                    day: '2-digit',
                  },

                }"></ion-datetime>
                </ng-template>
              </ion-modal>
            </div>

            <hr>
          </div>
          <ion-label>Descrição:</ion-label>
          <ion-textarea placeholder="Digite a descrição da tarefa..." [autoGrow]="true" formControlName="descricao">
          </ion-textarea>
        </form>



      </div>
      <!-- <ion-footer> -->
      <div class="d-flex gap-2 justify-content-end ion-padding">

        <ion-button color="light" (click)="showTaskForm = false">Cancelar</ion-button>
        <ion-button color="primary" [disabled]="!taskForm.valid" (click)="saveTask()"> Salvar</ion-button>
      </div>
      <!-- </ion-footer> -->
    </ion-content>
  </ng-template>
</ion-modal>
