.board {
    padding: 10px;
}

.column {
    border: 1px solid #6c757d;
    border-radius: 10px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    height: auto;
}

.column-header {
    padding: 10px;
    cursor: pointer;
}

.column-count {
    align-items: center;
}

.taskContainer {
    min-height: 50px;
}

.task-card {
    cursor: grab;
}

.task-card.low-priority {
    border-left: 5px solid lightgreen;
}

.task-card.medium-priority {
    border-left: 5px solid orange;
}

.task-card.high-priority {
    border-left: 5px solid red;
}

.add-task {
    color: #6c757d;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.add-task:hover {
    background-color: #f8f9fa;
}

.task-form {
    /* Styles for the form inside the modal */
}

.task-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}