<ion-grid class="board">
    <ion-row class="overflow-x-auto">
        <ion-col class="mb-3 column position-relative w-100" sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="4" sizeXl="4" *ngFor="let column of cols">
            <div>
                <div class="column-header d-flex justify-content-between align-items-center p-2" (click)="column.visible = !column.visible">
                    <ion-label class="text-capitalize">{{ column.title }}</ion-label>
                    <span class="column-count gap-2 d-flex justify-content-around align-items-center">
            <ion-badge color="light">{{ column.tasks.length }}</ion-badge>
            <ion-button fill="clear" shape="round" size="small"
              (click)="showTaskForm = true; createForm(column.status_tarefa_id); $event.stopPropagation()">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </span>
                </div>
                <div class="taskContainer task-list mb-5 p-2 rounded" [id]="'task-list_' + column.status_tarefa_id" dragula="tarefas" [dragulaModel]="column.tasks" [hidden]="!column.visible">

                    <ion-card class="mb-2 task-card" *ngFor="let task of column.tasks" (click)="showTaskForm = true; createForm(column.status_tarefa_id, task)" [ngClass]="{
              'low-priority': task.prioridade === 0,
              'medium-priority': task.prioridade === 1,
              'high-priority': task.prioridade === 2
            }">
                        <ion-card-content class="p-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <ion-card-subtitle class="mb-0 text-wrap">{{ task.titulo }}</ion-card-subtitle>
                                <ion-icon [name]="
                    task.tipo_tarefa_id === 1
                      ? 'hammer-outline'
                      : task.tipo_tarefa_id === 2
                      ? 'cash-outline'
                      : task.tipo_tarefa_id === 3
                      ? 'alert-circle-outline'
                      : ''
                  " size="small"></ion-icon>
                            </div>
                        </ion-card-content>
                    </ion-card>
                </div>
                <div class="add-task p-2 rounded-bottom text-center" (click)="showTaskForm = true; createForm(column.status_tarefa_id)">
                    <ion-icon name="add-outline" class="me-1"></ion-icon>
                    Adicionar tarefa
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-modal [isOpen]="showTaskForm" (didDismiss)="showTaskForm = false; taskForm.reset()">
    <ng-template>
        <ion-content>
            <div class="task-form ion-padding">
                <form [formGroup]="taskForm">
                    <ion-item lines="full" class="mb-2">
                        <ion-input type="text" placeholder="Digite o título da tarefa..." formControlName="titulo"></ion-input>
                    </ion-item>

                    <div class="d-flex gap-2 mb-2">
                        <ion-item lines="full" class="flex-grow-1">
                            <ion-select interface="popover" labelPlacement="floating" label="Status" aria-label="Status" formControlName="status_tarefa_id">
                                <ion-select-option [value]="1">A Fazer</ion-select-option>
                                <ion-select-option [value]="2">Fazendo</ion-select-option>
                                <ion-select-option [value]="3">Feito</ion-select-option>
                            </ion-select>
                        </ion-item>

                        <ion-item lines="full" class="flex-grow-1">
                            <ion-select interface="popover" labelPlacement="floating" label="Prioridade" aria-label="Prioridade" formControlName="prioridade">
                                <ion-select-option [value]="0">Baixa</ion-select-option>
                                <ion-select-option [value]="1">Média</ion-select-option>
                                <ion-select-option [value]="2">Alta</ion-select-option>
                            </ion-select>
                        </ion-item>

                        <ion-item lines="full" class="flex-grow-1">
                            <ion-select interface="popover" labelPlacement="floating" label="Tipo" aria-label="Tipo de Tarefa" formControlName="tipo_tarefa_id">
                                <ion-select-option *ngFor="let t of tiposTarefa" [value]="t.id">{{ t.descricao }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </div>

                    <ion-item>
                        <ion-checkbox labelPlacement="end" #prazo [checked]="taskForm.value.data_limite_conclusao" (ionChange)="prazoChange($event)" class="mb-2">
                            <ion-label>Possui Prazo</ion-label>
                        </ion-checkbox>
                        <ion-datetime-button class="ms-auto" [disabled]="!prazo.checked" datetime="datetime"></ion-datetime-button>
                        <ion-modal [keepContentsMounted]="true">
                            <ng-template>
                                <ion-datetime id="datetime" presentation="date" formControlName="data_limite_conclusao" [formatOptions]="{
                    date: { weekday: 'short', month: 'long', day: '2-digit' }
                  }"></ion-datetime>
                            </ng-template>
                        </ion-modal>
                    </ion-item>

                    <ion-item lines="full" class="mb-2">
                        <ion-textarea label="Descrição" labelPlacement="floating" placeholder="Digite a descrição da tarefa..." autoGrow="true" formControlName="descricao"></ion-textarea>
                    </ion-item>
                </form>
            </div>
            <div class="d-flex gap-2 justify-content-end ion-padding">
                <ion-button color="light" (click)="showTaskForm = false">Cancelar</ion-button>
                <ion-button color="primary" [disabled]="!taskForm.valid" (click)="saveTask()">Salvar</ion-button>
            </div>
        </ion-content>
    </ng-template>
</ion-modal>