
  <ion-grid>

    <ion-row class="d-flex ion-align-items-center">
      <ion-col>
        <h6 class="ms-3">Resumo</h6>
        <ion-row class="d-flex ion-align-items-center">
          <ion-col  sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" sizeXl="6" >
            <ion-row>
              <ion-col>
                <ion-card class="info-card">
                  <ion-card-content>
                    <div class="d-flex gap-3 ion-align-items-center">
                      <ion-icon name="cash" class="card-icon-medium"></ion-icon>
                      <ion-label>
                        Receitas
                      </ion-label>
                    </div>
                    <ion-card-title> {{ totals.totalReceitas| currency:'BRL'}} <ion-chip color="success"> + 3%</ion-chip>
                    </ion-card-title>
                    <ion-card-subtitle class="mt-2">Desde de {{totals.receita_por_mes[0].mesAno}}</ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card class="info-card">
                  <ion-card-content>
                    <div class="d-flex gap-3 ion-align-items-center">
                      <ion-icon name="warning" class="card-icon-medium"></ion-icon>
                      <ion-label>
                        Despesas
                      </ion-label>
                    </div>
                    <ion-card-title>{{ totals.totalDespesas | currency:'BRL'}} <ion-chip color="success"> + 13%</ion-chip>
                    </ion-card-title>
                    <ion-card-subtitle class="mt-2">Desde de {{totals.despesa_por_mes[0].mesAno}}</ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card class="info-card">
                  <ion-card-content>
                    <div class="d-flex gap-3 ion-align-items-center ">
                      <ion-icon name="people" class="card-icon-medium"></ion-icon>
                      <ion-label>
                        Alunos
                      </ion-label>
                    </div>
                    <ion-card-title>{{ totals.totalMembros }} <ion-chip color="danger"> - 5%</ion-chip>
                    </ion-card-title>
                    <ion-card-subtitle class="mt-2">Alunos Ativos</ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card class="info-card">
                  <ion-card-content>
                    <div class="d-flex gap-3 ion-align-items-center">
                      <ion-icon name="barbell-sharp" class="card-icon-medium"></ion-icon>
                      <ion-label>
                        Treinadores
                      </ion-label>
                    </div>
                    <ion-card-title>{{ totals.totalInstrutores }} <ion-chip color="success"> + 100%</ion-chip>
                    </ion-card-title>
                    <ion-card-subtitle class="mt-2">Treinadores Ativos</ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col  sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" sizeXl="6">
            <ion-card class="info-card">
              <ion-card-content>
                <h4 class="fw-bolder">
                  Analise de Receitas (R$/Mes) - Ultimos 12 Meses
                </h4>
              </ion-card-content>
              <ngx-charts-bar-vertical-2d [results]="receitasMensais" [gradient]="true" [xAxis]="false" [yAxis]="false"
                [yAxisTicks]="['R$']" [legend]="false" [showXAxisLabel]="false"  [showYAxisLabel]="false"
                [xAxisLabel]="''" [yAxisLabel]="''"  [legendTitle]="''" [view]="view">
              </ngx-charts-bar-vertical-2d>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <div class="d-flex"> -->
  <ion-grid>
    <ion-row>
      <ion-col size-md="12" size-sm="12" sizeLg="6">
        <p class="ms-3 w-100 d-flex ion-justify-content-between ion-align-items-center">Treinadores <ion-chip [routerLink]="['/admin/instrutores']">Ver Todos
          </ion-chip>
        </p>
        <ion-row>
          <br>
          @for(teacher of ['teacher1', 'teacher2']; track $index){
          <ion-col size-md="12" size-sm="12" size-lg="6">
            <ion-card style="background-image: url('https://images.unsplash.com/photo-1519058082700-08a0b56da9b4?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: 200px;
            background-position: 100% 0%;
            background-repeat: no-repeat;
            position: relative;">
              <ion-card-content>
                <h3>Nome do Treinador</h3>
                <ion-card-subtitle>Especialização</ion-card-subtitle>
                <ion-row>
                  <ion-col>
                    <ion-card-title>
                      3
                      <ion-label color="success">+</ion-label>
                    </ion-card-title>
                    <p>Alunos</p>
                  </ion-col>
                  <ion-col>
                    <ion-card-title>
                      2
                      <ion-label color="danger">+</ion-label>
                    </ion-card-title>
                    <p>Treinos</p>
                  </ion-col>

                </ion-row>
                <ion-button class="position-absolute top-0 end-0" color="success" fill="clear" shape="round">
                  <ion-icon slot="icon-only" name="expand"></ion-icon>
                </ion-button>
                <ion-row>

                    <ion-chip *ngFor="let tag of ['Motivação', 'Musculação', 'Mentalidade']; track tag">{{tag}}</ion-chip>

                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          }
        </ion-row>

      </ion-col>

      <ion-col size-md="12" size-sm="12" sizeLg="6">
        <p class="ms-3 w-100 d-flex ion-justify-content-between">
          Exercícios Mais Praticados
        </p>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <swiper-container init="true" space-between="3" slides-per-view="6" effect="card" free-mode="true"
                pagination="false" grabCursor="true" loop="false">
                @for(exercicio of ['Todos', 'Musculação', 'Aerobicos', 'Cardio', 'Musculação', 'Aerobicos',
                'Cardio', 'Flexibilidade']; track $index){
                <swiper-slide>
                  <ion-chip [color]="exercicio === 'Todos' ? 'primary' : ''">{{exercicio}}</ion-chip>
                </swiper-slide>
                }
              </swiper-container>
            </ion-row>
            <hr>
            <ion-row style="height: 100px; overflow: auto;">
              <ion-col>
                @for(exercicio of ['exercicio2', 'exercicio3','exercicio1','exercicio3','exercicio1', 'exercicio2',
                'exercicio2', 'exercicio3','exercicio1', 'exercicio2', 'exercicio3','exercicio1', 'exercicio2',
                'exercicio3','exercicio1', 'exercicio2', 'exercicio3','exercicio1', 'exercicio2', 'exercicio3',
                'exercicio4']; track $index){
                <ion-chip>{{exercicio}}</ion-chip>
                }
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <app-usuarios [onlyList]="true"></app-usuarios>
  </ion-grid>
