/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css";
@import "@ionic/angular/css/palettes/dark.class.css";
@import "@ionic/angular/css/palettes/dark.system.css";



@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'prismjs/themes/prism-okaidia.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Molle&family=PT+Serif:ital,wght@0,700;1,400;1,700&family=Playwrite+PE+Guides&display=swap");



/** SCROLLBAR */
ion-content {
  // –offset-bottom: auto !important;
  // –overflow: auto;
  // background: var(–ion-toolbar-background, var(–ion-background-color, #f4f5f8)) !important;
  // overflow: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-track:hover {
    background: #f7f7f7;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #94173a;
  }

  .inner-scroll {
    scrollbar-width: thin;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}
.container {
  text-align: center;

  position: relative;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

.container a {
  text-decoration: none;
}

ion-content {
  height: calc(100vh - var(--ion-safe-area-top) - 10vh);
  overflow-y: hidden;
}

* ion-button.ion-color-primary {
  --ion-color-contrast: aliceblue !important;
}

svg {
  color: white;
}
.tab-selected svg {
  color: var(--ion-tab-bar-color-selected, var(--ion-color-primary, #0054e9));
}
.ion-selectable:hover * {
  color: var(--ion-tab-bar-color-selected, var(--ion-color-primary, #0054e9));
}
.d-flex {
  display: flex !important;
}

.w-100 {
  width: 100% !important  ;
}
.w-90 {
  width: 90% !important  ;
}
.w-75 {
  width: 75% !important  ;
}
.w-10 {
  width: 10% !important  ;
}

.text-break {
  word-break: break-word !important;
}

.icons {
  display: flex;
  gap: 2px;
  margin-right: -0.5em;
}

.swal2-container {
  z-index: 99999999999;
  height: 100vh;
}

.wrap {
  white-space: normal;
}

.overlay {
  box-shadow: 0px 0px 150px 150px #0b0b0bde;
}

/* Estilo básico */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Responsividade com media queries */
@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Para dispositivos móveis */
  }

  th,
  td {
    width: 50%;
    display: block;
  }

  th {
    text-align: left;
  }
}

ion-card {
  cursor: pointer;
}

ion-card:hover {
  animation: zoomIn 0.15s ease-in forwards;
  box-shadow: 5px 6px 7px 0px #464647;
}

.zoomIn {
  animation: zoomIn 0.15s ease-in forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}
