/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

a {
  text-decoration: none;
}
.container {
  text-align: center;

  position: relative;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

.container a {
  text-decoration: none;
}

ion-content {
  height: 88vh;
  overflow-y: hidden;
}


* ion-button.ion-color-primary {
  --ion-color-contrast: aliceblue !important
}

svg {
  color: white;
}
.tab-selected svg {
  color: var(--ion-tab-bar-color-selected, var(--ion-color-primary, #0054e9));
}
.ion-selectable:hover * {
  color: var(--ion-tab-bar-color-selected, var(--ion-color-primary, #0054e9));

}
.d-flex {
  display: flex !important;
}

.w-100 {
  width: 100% !important  ;
}
.w-90 {
  width: 90% !important  ;
}
.w-75 {
  width: 75% !important  ;
}
.w-10 {
  width: 10% !important  ;
}



.swal2-container {
  z-index: 99999999999;
  height: 100vh;
}
