<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>adm-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>

    <ion-col size="6" size-sm="6" size-md="6" size-lg="6">
      <a routerLink="/usuarios">
        <ion-card class="position-relative">
          <h6 class="ion-padding-start">Usuários</h6>
          <img class="card-item-img" alt="people training"
            src="https://images.unsplash.com/photo-1527933053326-89d1746b76b9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />


        </ion-card>
      </a>

    </ion-col>
    <ion-col size="6" size-sm="6" size-md="6" size-lg="6">
      <a routerLink="/admin/equipamentos">
        <ion-card class="position-relative">
          <h6 class="ion-padding-start">Equipamentos</h6>
          <img class="card-item-img" alt="ADM Computer" src="/assets/images/halteres-blur-bg-02.png" />

        </ion-card>
      </a>
    </ion-col>
    <ion-col size="6" size-sm="6" size-md="6" size-lg="6">
      <a routerLink="/admin/exercicios">
        <ion-card class="position-relative">
          <h6 class="ion-padding-start">Exercícios</h6>
          <img class="card-item-img d-flex position-absolute" alt="ADM Computer" src="/assets/images/esteira-run-01.png" />

        </ion-card>
      </a>
    </ion-col>
    <ion-col size="6" size-sm="6" size-md="6" size-lg="6">
      <a routerLink="/admin/treinos">
        <ion-card class="">
          <h6 class="ion-padding-start position-relative">Treinos</h6>

            <img class="card-item-img" alt="ADM Computer" src="/assets/images/treino-toalha-agua-01.png" />

        </ion-card>
      </a>
    </ion-col>
  </ion-row>
</ion-content> -->


<app-admin-home ></app-admin-home>
