<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <h3>{{selectedTreino?.nome}}</h3>
  </ion-row>
  <ion-grid>

    <ion-list *ngIf="selectedTreino" [inset]="true">
      <ion-item *ngFor="let ex of selectedTreino?.treino_exercicio">
        <div class="div w-90">
          <h5>{{ ex.exercicio.nome.toUpperCase() }}
            <span *ngIf="ex.exercicio.equipamentos|| ex.equipamentos">
              ({{ ex.exercicio.equipamentos?.nome.toUpperCase() || ex.equipamentos?.nome.toUpperCase()}})</span>
          </h5>
          <ion-row class="w-100 ion-align-items-center ion-justify-content-around">
            <ion-col size="1">
              <ion-label>
                <ion-checkbox style="--size: 35px" [(ngModel)]="ex.exercicio.concluido"></ion-checkbox>
              </ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-label>
                <p>Carga: {{ ex.carga }} kg</p>
                <p>{{ ex.series }} séries x {{ ex.repeticoes }} repetições</p>
                <p>15 s de intervalo</p>
              </ion-label>
            </ion-col>
          </ion-row>
        </div>
        <div class="w-10">
          <ion-icon name="play-outline" fill="clear" color="primary" size="large"
            (click)="selectedExercicio = ex; counter = ex.intervalo; openModal = true">
          </ion-icon>
        </div>
      </ion-item>


      <ion-button class="success" size="block" color="primary">FINALIZAR</ion-button>


    </ion-list>

  </ion-grid>
</ion-content>



<!-- <ion-modal >
  <ng-template class="ion-ali">
    <ion-title class="ion-margin-top ion-margin-bottom-0 ">
      {{selectedExercicio.exercicio.nome.toUpperCase()}}
      <hr>
      @if(selectedExercicio.exercicio.midia_url){
        <img [src]="selectedExercicio.exercicio.midia_url" alt="" srcset="">
      }

    </ion-title>
    <ion-row class="ion-padding ion-justify-content-center">
      <ion-col class="form-group">
        <p>
          <ion-label>Series:</ion-label>
        </p>
        <p>
          <ion-label>{{exercicioPresets.series}}</ion-label>
        </p>
      </ion-col>
      <ion-col class="form-group">
        <p>
          <ion-label>Repetições</ion-label>
        </p>
        <p>
          <ion-label>{{exercicioPresets.repeticoes}}</ion-label>
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="w-100 ion-justify-content-center ion-margin-start ion-align-items-center ">
      <ion-col class="ion-justify-content-center ion-align-items-center">
        <ion-icon size="large" name="remove"  (click)="exercicioPresets.carga = exercicioPresets.carga - 1"></ion-icon>
      </ion-col>
      <ion-col class="form-group">
        <p>
          <ion-label>Carga (kg)</ion-label>
        </p>
        <ion-input [value]="exercicioPresets.carga"></ion-input>
      </ion-col>
      <ion-col class="ion-justify-content-center ion-align-items-center">
        <ion-icon size="large" name="add" (click)="exercicioPresets.carga = exercicioPresets.carga+1"></ion-icon>
      </ion-col>
    </ion-row>


    <div class="counter w-75 ion-justify-content-between ion-align-items-center">
      <ion-title>
        Descanso:
      </ion-title>
      <ion-text class="ion-margin-end">
        {{counter}}
      </ion-text>
      <ion-icon [name]="icon" (click)="toggleClock(selectedExercicio.intervalo)"></ion-icon>
    </div>
    <div class="ion-padding">
      <p>
        Séries Completas:
      </p>
      <ul style="list-style: none;gap: 1em;">
        <li style="display: inline;" class="ion-margin" *ngFor="let s of [0,1,2,3]">
          <ion-checkbox style=" --size: 25px;"></ion-checkbox>
        </li>
      </ul>
    </div>

    <ion-button color="primary">Concluir</ion-button>






  </ng-template>
</ion-modal> -->

<!-- @if(selectedExercicio){ -->
<ion-modal [isOpen]="openModal" [initialBreakpoint]="1" [breakpoints]="[0, 1]"
  (didDismiss)="resetCounter(); openModal=false" (didPresent)="buildExercicioPresets()">
  <ng-template>
    <ion-row>
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-text-capitalize">Exercício: {{ selectedExercicio.exercicio.nome}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)=" openModal=false">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <!-- <ion-content>   -->

      @if(selectedExercicio.exercicio.midia_url){
      <img [src]="selectedExercicio.exercicio.midia_url" alt="" srcset="">
      }
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-input label="Séries:" labelPlacement="floating" type="number" disabled="true"
              [(ngModel)]="exercicioPresets.series"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-input label="Repetições:" labelPlacement="floating" type="number" disabled="true"
              [(ngModel)]="exercicioPresets.repeticoes"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-input label="Carga (kg):" labelPlacement="floating" type="number" [(ngModel)]="exercicioPresets.carga">
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-input label="Descanso:" labelPlacement="floating" type="number" disabled="true"
              [(ngModel)]="exercicioPresets.intervalo"></ion-input>
          </ion-item>
        </ion-col>


        <ng-container  *ngIf="selectedExercicio.intervalo">
        <ion-col size="6" class="ion-align-items-center">
          <h5 class="ion-padding-start">Descanso</h5>
          <ion-col size="6">
            <ion-button fill="icon-only" (click)="toggleClock(selectedExercicio.intervalo)"><ion-icon [name]="icon" ></ion-icon> </ion-button>
          </ion-col>
        </ion-col>
        <ion-col size="6">
          <div class="ion-align-items-center">
            <h1  style="font-size: 50px;">

                {{ counter < 10 ? '0'+counter : counter }}s

            </h1>
          </div>
        </ion-col>

      </ng-container>
        <br>
        <ion-col size="12">
          <h5 class="ion-padding-start">Series Concluídas</h5>
          <div class="d-flex ion-justify-content-around ion-align-items-center ion-ma">
            @for(serie of serieArr; track serie){

              <ion-checkbox></ion-checkbox>

            }
          </div>
        </ion-col>

        <ion-button expand="block" class="w-100">Finalizar</ion-button>

        <!-- </ion-content> -->
      </ion-row>
    </ion-row>
  </ng-template>
</ion-modal>
