.img-fluid {
  max-width: 100%;
  height: auto;
}

.mr-3 {
  margin-right: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.instructor-card {
    height: 250px;
    ion-card-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

}