ion-input .label-text {
  // color: red !important;
  display:none !important;
}


.banner-thumbnail {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: #3f3b3b62;
  border-radius: 10px;
}

.banner-preview {
  // height: 100px;
  width: 100%;
  object-fit: cover;
  padding: 10px 0px;
}

.logo-thumbnail {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  padding: 5px 5px;
  background-color: #3f3b3b62;
  border-radius: 10px;
}


.logo-preview {
  height: 90px;
  width: 90px;
  object-fit: cover;
  padding: 10px 0px;
}

@media screen and (max-width: 768px) {
  .banner-thumbnail {
    height: 90px;
  }

  .banner-preview {
    height: 75px;
  }


  .logo-preview {

    width: 100%;
  }
}


