.login-card {
  width: 400px;
  padding: 20px 20px;
  margin: auto;
  box-shadow: 0px 0px 50px 0 #464647;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 144vh;
  width: 150vw;
  background-image: url("../../../assets/images/gym-bagckground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: #464647 solid 1px;
  //   overflow: hidden;
}
