.h-100 {
  height: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Garante que ocupe a largura da coluna */
}

.logo {
  max-width: 150px;
  height: auto;
}

ion-card {
  margin-left: auto;
  margin-right: auto;
  :hover {
    animation: none;
  }
}

ion-card-header.ion-no-padding {
  padding: 0; /* Remove o padding padrão do header do card para alinhar melhor o título */
}